//want to get rid of this later, but right now required:
script(type='text/javascript', src="/lib/jquery/jquery.min.js")
script(type='text/javascript', src="/js/thirdparty/jquery-ui-1.10.2.custom.min.js")
script(type='text/javascript', src='/js/thirdparty/bootstrap.min.js')
script(type='text/javascript', src="/js/thirdparty/jquery.knob.js")
script(type='text/javascript', src="/js/thirdparty/jquery.flot.js")
script(type='text/javascript', src="/js/thirdparty/jquery.flot.stack.js")
script(type='text/javascript', src="/js/thirdparty/jquery.flot.resize.js")
script(type='text/javascript', src="/js/thirdparty/theme.js")


//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/leads.js')
script(type='text/javascript', src='/js/services/modal.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/leads.js')
script(type='text/javascript', src='/js/controllers/slider.js')
script(type='text/javascript', src='/js/init.js')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')