<footer id="footer">
    
                <div class="row copyright">
                    <div class="col-md-12">
                        &copy; 2014 SolarMongo. All rights reserved.
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>