<div class="gallery">
    <div class="no-gallery">
        <div class="row header">
            <div class="col-md-12">
                <h3>Site Survey Photos</h3>
            </div>
        </div>
        <div class="center">
            <img alt="no-gallery" src="img/no-img-gallery.png">
            <h6>You don't have any photos</h6>
            <p>With the Basic plan you can upload up to 4 pictures per Site Survey.</p>
            <a class="btn-glow success" ng-click="uploadPhotoModal()">Add new image</a>
        </div>
    </div>
</div>