<div class="leads">
    <div class="row header">
        <div class="row form-wrapper">
            <div class="col-md-9"> <!--without-sidebar-->
                
                    <br>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>Job Site</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Name:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.firstName" placeholder="First Name" class="form-control" maxlength="30">
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.lastName" placeholder="Last Name" class="form-control small-inline" maxlength="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Address:</label>    
                        </div>
                        <div class="col-md-10">
                            <input type="text" placeholder="Street address" class="form-control" data-ng-model="lead.siteSurvey.jobSite.address">
                        </div>
                    </div>
                    <div class="form-group address-fields">
                        <div class="col-md-1_5 control-label ghost_label">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="City" class="form-control" data-ng-model="lead.siteSurvey.jobSite.city">
                        </div>
                        <div class="col-md-4">
                          <input type="text" placeholder="State" class="form-control" data-ng-model="lead.siteSurvey.jobSite.state">
                        </div>
                        <!--<div id="state" class="ui-select col-md-4">
                            <select data-ng-model="siteSurvey.jobSite.state">
                                <option value="">Select State</option>
                                <option value="AL">Alabama</option> 
                                <option value="AK">Alaska</option> 
                                <option value="AZ">Arizona</option> 
                                <option value="AR">Arkansas</option> 
                                <option value="CA">California</option> 
                                <option value="CO">Colorado</option> 
                                <option value="CT">Connecticut</option> 
                                <option value="DE">Delaware</option> 
                                <option value="DC">District Of Columbia</option> 
                                <option value="FL">Florida</option> 
                                <option value="GA">Georgia</option> 
                                <option value="HI">Hawaii</option> 
                                <option value="ID">Idaho</option> 
                                <option value="IL">Illinois</option> 
                                <option value="IN">Indiana</option> 
                                <option value="IA">Iowa</option> 
                                <option value="KS">Kansas</option> 
                                <option value="KY">Kentucky</option> 
                                <option value="LA">Louisiana</option> 
                                <option value="ME">Maine</option> 
                                <option value="MD">Maryland</option> 
                                <option value="MA">Massachusetts</option> 
                                <option value="MI">Michigan</option> 
                                <option value="MN">Minnesota</option> 
                                <option value="MS">Mississippi</option> 
                                <option value="MO">Missouri</option> 
                                <option value="MT">Montana</option> 
                                <option value="NE">Nebraska</option> 
                                <option value="NV">Nevada</option> 
                                <option value="NH">New Hampshire</option> 
                                <option value="NJ">New Jersey</option> 
                                <option value="NM">New Mexico</option> 
                                <option value="NY">New York</option> 
                                <option value="NC">North Carolina</option> 
                                <option value="ND">North Dakota</option> 
                                <option value="OH">Ohio</option> 
                                <option value="OK">Oklahoma</option> 
                                <option value="OR">Oregon</option> 
                                <option value="PA">Pennsylvania</option> 
                                <option value="RI">Rhode Island</option> 
                                <option value="SC">South Carolina</option> 
                                <option value="SD">South Dakota</option> 
                                <option value="TN">Tennessee</option> 
                                <option value="TX">Texas</option> 
                                <option value="UT">Utah</option> 
                                <option value="VT">Vermont</option> 
                                <option value="VA">Virginia</option> 
                                <option value="WA">Washington</option> 
                                <option value="WV">West Virginia</option> 
                                <option value="WI">Wisconsin</option> 
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>-->
                        <div class="col-md-3">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.zip" placeholder="Postal Code" class="form-control small-inline">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>Site Notes</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Roofing:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.roofingType" placeholder="Roofing Type" class="form-control" maxlength="30">
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.layers" placeholder="Number of Layers" class="form-control small-inline" maxlength="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Installation:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.height" placeholder="Installation Height" class="form-control" maxlength="30">
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.jobSite.pitch" placeholder="Roof Pitch" class="form-control small-inline" maxlength="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Location:</label>    
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="title" placeholder="Site Location" data-ng-model="lead.siteSurvey.jobSite.location"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Visibility:</label>    
                        </div>
                        <div class="col-md-5">
                            <div class="middle-text">Solar Eye Availability Photo:</div>
                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.jobSite.eyeAvailability = !lead.siteSurvey.jobSite.eyeAvailability">
                                <span ng-class="{'on' : lead.siteSurvey.jobSite.eyeAvailability, '' : !lead.siteSurvey.jobSite.eyeAvailability}" class="slider-button off">{{lead.siteSurvey.jobSite.eyeAvailability && 'YES' || 'NO'}}</span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <input type="text" placeholder="Rafter Spacing and Size" class="form-control small-inline" data-ng-model="siteSurvey.jobSite.rafterSpacingAndSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label ghost_label">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col-md-5">
                            <div class="middle-text">Engineered Truss:</div>
                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.jobSite.truss = !lead.siteSurvey.jobSite.truss">
                                <span ng-class="{'on' : lead.siteSurvey.jobSite.truss, '' : !lead.siteSurvey.jobSite.truss}" class="slider-button off">{{lead.siteSurvey.jobSite.truss && 'YES' || 'NO'}}</span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <input type="text" placeholder="Truss Type if not Engineered" class="form-control small-inline" data-ng-model="lead.siteSurvey.jobSite.otherTruss">
                        </div>
                    </div>    
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Description:</label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control" data-ng-model="lead.siteSurvey.jobSite.description"></textarea>
                            <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>Pictures of Location:</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Pictures:</label>
                        </div>
                        <div class="col-md-5">
                            <div class="middletable1">
                                <table>
                                    <tr>
                                        <td><div class="middle-text">Site:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.site = !lead.siteSurvey.pictures.site">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.site, '' : !lead.siteSurvey.pictures.site}" class="slider-button off">{{lead.siteSurvey.pictures.site && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="middle-text">Inverter Location:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.inverterLocation = !lead.siteSurvey.pictures.inverterLocation">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.inverterLocation, '' : !lead.siteSurvey.pictures.inverterLocation}" class="slider-button off">{{lead.siteSurvey.pictures.inverterLocation && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="middle-text">Power Meter Closed:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.powerMeterClosed = !lead.siteSurvey.pictures.powerMeterClosed">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.powerMeterClosed, '' : !lead.siteSurvey.pictures.powerMeterClosed}" class="slider-button off">{{lead.siteSurvey.pictures.powerMeterClosed && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="middle-text">Power Meter Open:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.powerMeterOpen = !lead.siteSurvey.pictures.powerMeterOpen">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.powerMeterOpen, '' : !lead.siteSurvey.pictures.powerMeterOpen}" class="slider-button off">{{lead.siteSurvey.pictures.powerMeterOpen && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
    
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="middletable">
                                <table>
                                    <tr>
                                        <td><div class="middle-text">Shading Problems:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.shadingProblems = !lead.siteSurvey.pictures.shadingProblems">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.shadingProblems, '' : !lead.siteSurvey.pictures.shadingProblems}" class="slider-button off">{{lead.siteSurvey.pictures.shadingProblems && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="middle-text">Array Location:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.arrayLocation = !lead.siteSurvey.pictures.arrayLocation">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.arrayLocation, '' : !lead.siteSurvey.pictures.arrayLocation}" class="slider-button off">{{lead.siteSurvey.pictures.arrayLocation && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="middle-text">Breaker Panels Closed:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.breakerPanelsClosed = !lead.siteSurvey.pictures.breakerPanelsClosed">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.breakerPanelsClosed, '' : !lead.siteSurvey.pictures.breakerPanelsClosed}" class="slider-button off">{{lead.siteSurvey.pictures.breakerPanelsClosed && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="middle-text">Breaker Panels Open:</div></td>
                                        <td>
                                            <div class="middle slider-frame primary" ng-click="lead.siteSurvey.pictures.breakerPanelsOpen = !lead.siteSurvey.pictures.breakerPanelsOpen">
                                                <span ng-class="{'on' : lead.siteSurvey.pictures.breakerPanelsOpen, '' : !lead.siteSurvey.pictures.breakerPanelsOpen}" class="slider-button off">{{lead.siteSurvey.pictures.breakerPanelsOpen && 'YES' || 'NO'}}</span>
                                            </div>
                                        </td>
                                    </tr>
    
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>Monthly Usage?</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>Customer Expectation:</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Bill:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.customerExpectation.partBill" placeholder="Part Bill" class="form-control small-inline" maxlength="30">
                        </div>
                        <div class="col-md-5">
                            <input type="text" data-ng-model="lead.siteSurvey.customerExpectation.fullBill" placeholder="Full Bill" class="form-control small-inline" maxlength="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>System Type:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="select-style ui-select">
                                <select data-ng-model="lead.siteSurvey.customerExpectation.systemType">
                                    <option value="">Please Select System Type</option>
                                    <option value="Grid Interactive">Grid Interactive</option>
                                    <option value="Grid Interactive With Battery Backup">Grid Interactive With Battery Backup</option>
                                    <option value="Off Grid">Off Grid</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                            <label>Notes:</label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control" data-ng-model="lead.siteSurvey.siteSurveyNotes"></textarea>
                            <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
                        </div>
                    </div>
                    
            </div>
            <!--<div class="span3 form-sidebar pull-right">
                <div class="btn-group toggle-inputs hidden-tablet">
                    <button class="glow left" data-input="inline">Tags</button>
                    <button class="glow right active" data-input="normal">More Tags</button>
                </div>
                <div class="alert alert-info hidden-tablet">
                    <i class="icon-lightbulb pull-left"></i>
                    Click above to see difference between inline and normal inputs on a form
                </div>                        
                <h6>Sidebar text for instructions</h6>
                <p>Add multiple users at once</p>
                <p>Choose one of the following file types:</p>
                <ul>
                    <li><a href="#">Upload a vCard file</a></li>
                    <li><a href="#">Import from a CSV file</a></li>
                    <li><a href="#">Import from an Excel file</a></li>
                </ul>
            </div>-->
        </div>
    </div>
</div>