<div class="leads">
    <div class="row header">
        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form class="form-horizontal" role="form" data-ng-submit="create()">
                    <br>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">Name:</label>  
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="name" data-ng-model="name" placeholder="Product Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">Brand:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="brand" data-ng-model="brand" placeholder="Product Brand"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">Quantity:</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="quantity" data-ng-model="quantity" placeholder="Inventory of product">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">Price:</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="price" data-ng-model="price" placeholder="Cost of the product">
                        </div>
                    </div>
                    <div class="col-md-11 field-box actions">
                        <input type="submit" value="Create Product" class="btn-glow primary">
                        <span>OR</span> 
                        <input type="reset" class="reset" value="Cancel" onclick="window.history.back()">
                    </div>
                </form>
            </div>
            <div class="col-md-3 form-sidebar tag-sidebar">
                <div class="btn-group toggle-inputs hidden-tablet">
                    <button class="glow left" data-input="inline">Tags</button>
                    <button class="glow right active" data-input="normal">More Tags</button>
                </div>
                <div class="alert alert-info">
                    <i class="icon-lightbulb pull-left"></i>
                    Click above to see difference between inline and normal inputs on a form
                </div>                        
                <h6>Sidebar text for instructions</h6>
                <p>Add multiple users at once</p>
                <p>Choose one of the following file types:</p>
                <ul>
                    <li><a href="#">Upload a vCard file</a></li>
                    <li><a href="#">Import from a CSV file</a></li>
                    <li><a href="#">Import from an Excel file</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>