<div class="container">
	<div class="jumbotron">
		<tabset>
    		<tab heading="Users">
    			<div data-ng-include="'views/frontEndViews/api/users.html'"></div>
    		</tab>
    		<tab heading="Leads">
    			<div data-ng-include="'views/frontEndViews/api/leads.html'"></div>
    		</tab>
    		<tab heading="Inventory">
    			<div data-ng-include="'views/frontEndViews/api/products.html'"></div>
    		</tab>
    		<tab heading="Settings">
    			<div data-ng-include="'views/frontEndViews/api/settings.html'"></div>
    		</tab>
    	</tabset>
	</div>
</div>