extends ../layouts/default

block content
    .container
      .jumbotron
        .row.header.no-jumbotron
            .row.form-wrapper
                //.offset1.span5
                //  a(href="/auth/google")
                //    img(src="/img/icons/google.png")
                .col-md-12
                  if message && message.length
                    .fade.in.alert.alert-danger
                      button.close(type="button", data-dismiss="alert") &times;
                      strong #{message}
                  block auth
