extends auth

block auth
  h2 #{title}
  br
  form.signin.form-horizontal(role="form",action="/forgot", method="post")
    .form-group
      label.control-label.col-md-2(for='email') Email:
      .col-md-8
        input.form-control#email(type='text', name="email", placeholder='Email', required)

    .form-actions
      button.btn.btn-success(type='submit') Reset
      &nbsp;
      | or&nbsp;
      a.show-signup(href="/contactus")
