<div class="container">
  <div class="jumbotron">
    <div class="row header no-jumbotron">
      	<div class="row form-wrapper">
	        <div class="col-md-12">
	        	{{#if message}}
				<div class="fade in alert alert-danger">
				  <button class="close" type="button" data-dismiss="alert">&times;</button>
				  <strong>{{message}}</strong>
				</div>
				{{/if}}
	  			<h2>{{title}}</h2>
				<br />
				<form role="form" action="/forgot" method="post" class="signin form-horizontal">
					<div class="form-group">
					  <label for="email" class="control-label col-md-2">Email:</label>
					  <div class="col-md-8">
					    <input id="email" type="text" name="email" placeholder="Email" required="required" class="form-control"/>
					  </div>
					</div>
					<div class="form-actions">
					  <button type="submit" class="btn btn-success">Reset</button>&nbsp;
					  or&nbsp;<a href="/contactus" class="show-signup">Contact Support</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
