extends auth

block auth
  h2 #{title}
  br
  form.signin.form-horizontal(role="form",action="/resetpassword", method="post")
    input(type="hidden" value="#{token}" name="token")
    .form-group
      label.control-label.col-md-2(for='password') Password:
      .col-md-10
        input#password(class='form-control',type='password', name="password", placeholder='Password', required)

    .form-group
      label.control-label.col-md-2(for='password2') Confirm Password:
      .col-md-10
        input#password(class='form-control',type='password', name="password2", placeholder='Confirm Password', required)

    .form-actions
      button.btn.btn-success(type='submit') Reset Password
