extends auth

block auth  
    .leads(data-ng-controller='LeadsController', data-ng-init='findOne()')
      .row.header
        .row.form-wrapper
          .col-md-9
            
            form.form-horizontal(role='form', action="/admin/users/create", method="post")
              .form-group
                .col-md-12
                    h1 Sign up
              .form-group
                .col-md-12
                  h3 Account
              .form-group
                label.col-md-1_5.control-label Name:
                .col-md-10
                  input.form-control(type='text', name="name", placeholder='Full name', value=user.name)
              .form-group
                label.col-md-1_5.control-label Email:
                .col-md-10
                  input.form-control(type='text', name="email", placeholder='Email', value=user.email)
              .form-group
                label.col-md-1_5.control-label Password:
                .col-md-10
                  input.form-control(type='password', name="password", placeholder='Password', value=user.password)
              .form-group
                label.col-md-1_5.control-label Role:
                .col-md-10
                  .select-style.ui-select.col-md-5
                    select(required='', data-ng-model='role', name='role')
                      option(value='') -- Select Role --
                      option(value='Admin') Administrator
                      option(value='Installer') Installer
                      option(value='SalesRep') Sales Representative
                      option(value='LeadsAgency') Leads Agency
                      option(value='SalesAgency') Sales Agency

              .col-md-11.field-box.actions
                input.btn-glow.primary(type='submit', value='Sign up')
                span OR
                a.btn(type="submit") Help