extends auth

block auth
  h2 Sign up
  br
  form.signup.form-horizontal(role="form",action="/users", method="post")
    .form-group
      label.control-label.col-md-3(for='name') Full Name:
      .col-md-9
        input.form-control#name(type='text', name="name", placeholder='Full name', value=user.name)

    .form-group
      label.control-label.col-md-3(for='email') Email
      .col-md-9
        input.form-control#email(type='text', name="email", placeholder='Email', value=user.email)

    .form-group
      label.control-label.col-md-3(for='password') Password
      .col-md-9
        input.form-control#password(type='password', name="password", placeholder='Password')

    .form-actions
      button.btn.btn-primary(type='submit') Sign up
      &nbsp;
      | or&nbsp;
      a.show-login(href="/signin") login
