<!-- navbar not authenticated -->
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-hide="global.authenticated">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SolarMongo Beta</a>
        </div>
        <div class="navbar-collapse collapse">
            <form action="/users/session" method="post" class="navbar-form navbar-right visible-xs" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            
            <ul class="nav navbar-nav navbar-left">
                <li data-ng-repeat="item in menu" ng-class="{active:isActiveFrontEnd(item.link)}">
                    <a href="{{item.link}}">{{item.title}}</a>
                </li>
                <li class="hidden-xs hidden-lg">
                    <a href="/signin">Signin</a>
                </li>
            </ul>
            <form action="/users/session" method="post" class="navbar-form navbar-form-responsive navbar-right" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</header>
<!-- end navbar not authenticated -->

<!-- navbar is authenticated-->
<header class="navbar navbar-inverse" role="banner" data-ng-show="global.authenticated">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SolarMongo</a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="hidden-xs hidden-sm">
                <input class="search" type="text" />
            </li>
            <li class="notification-dropdown hidden-xs hidden-sm">
                <a href="#" class="trigger">
                    <i class="icon-warning-sign"></i>
                    <span class="count">8</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                    {{global.user.name}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="personal-info.html">Personal info</a></li>
                    <li><a href="#">Account settings</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Export your data</a></li>
                    <li><a href="/signout">Sign Out</a></li>
                </ul>
            </li>
            <!--<li class="settings hidden-xs hidden-sm">
                <a href="personal-info.html" role="button">
                    <i class="icon-cog"></i>
                </a>
            </li>-->
            <li class="settings hidden-xs hidden-sm">
                <a href="/signout" role="button">
                    <i class="icon-share-alt"></i>
                </a>
            </li>
        </ul>
    </header>
<!-- end navbar -->
<!-- sidebar -->
<div id="sidebar-nav" ng-class="{display:isCollapsed}" data-ng-show="global.authenticated">
    <ul id="dashboard-menu">
        <li ng-click="changeCollapsed($event)" ng-class="{active:isActive(list.route)}" ng-repeat="list in navList">
            <div class="pointer" ng-class="{hide:!isActive(list.route)}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a ng-href="#!/{{list.route}}">
                <i class="{{list.icon}}"></i>
                <span>{{list.name}}</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->

