<!-- navbar not authenticated -->
<div class="navbar navbar-inverse navbar-fixed-top" data-ng-hide="global.authenticated">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">SolarMongo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Features Overview</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Stories</li>
                        <li><a href="#">testimonials</a></li>
                    </ul>
                </li>
                <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                    <a href="#!/{{item.link}}">{{item.title}}</a>
                </li>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
            </ul>
            <form action="/users/session" method="post" class="navbar-form pull-right signin form-horizontal ng-pristine ng-valid">
              <input class="span2" type="text" name="email" placeholder="Email">
              <input class="span2" type="password" name="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<!-- end navbar not authenticated -->

<!-- navbar is authenticated-->
<div class="navbar navbar-inverse" data-ng-show="global.authenticated">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        
        <a class="brand" href="#!/dashboard"><!--<img src="img/logo.png" alt="logo" />-->SolarMongo</a>

        <ul class="nav pull-right">
            <li class="hidden-phone">
                <input class="search" type="text" />
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                    {{global.user.name}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/signout">Sign Out</a></li>
                </ul>
            </li>
        </ul>            
    </div>
</div>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav" data-ng-show="global.authenticated">
    <ul id="dashboard-menu">
        <li ng-class="{active:isActive(list.route)}" ng-repeat="list in navList">
            <div class="pointer" ng-class="{hide:!isActive(list.route)}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a ng-href="#!/{{list.route}}">
                <i class="{{list.icon}}"></i>
                <span>{{list.name}}</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
<!-- this is a jquery hack to get things working responsively, in the future 
    I would like this to be handled by our angular bootstrap ui, not jquery-->
<script type='text/javascript' src="../js/thirdparty/theme.js"></script>