.container
    .hero-unit
        h1 About Us
        h3 History
        p
          | SolarMongo has had relationships with solar contractors and in 2013, research began on the current way of managing solar customers and leads information. The research proved a need to have a mobile solution for contractors that are constantly outside the office as well as a central system that gives you access to all your solar business information. So instead of bouncing from cabinets full of paperwork or from site to site, you can just login to SolarMongo and run your solar business flawlessly.

        p
        
        h3 Our Mission
        p
          | SolarMongo's mission is to produce a more efficient workflow for every solar business. We strive to help clients understand how mobile technologies will cut their costs and time involved in their business workflow. We are constantly implementing new features in our system to give business owners the tools they need anywhere and any time they are needed. SolarMongo is the means by which our clients will improve their business.
        p
      
        
      hr
    footer
      p &copy; SolarMongo 2014