
    <div id="aboutus">
        <div class="container">
            <div class="section_header">
                <h3>About Us</h3>    
            </div>
            <div class="row">
                <div class="col-sm-6 intro">
                    <h4>History</h4>
                    <p>
            SolarMongo has had relationships with solar contractors and in 2013, research began on the current way of managing solar customers and leads information. The research proved a need to have a mobile solution for contractors that are constantly outside the office as well as a centralized collaborative system that gives you access to all your solar business information in one place. SolarMongo can reduce cycle time by 40% by automating and tracking paperwork electronically, and providing a mobile collaboration platform for all stakeholders of the solar install process.
                    </p>   
                </div>
                <div class="col-sm-6">
                        <img src="/img/about1.jpg" class="aboutimg">
                </div>
            </div>
        </div>
    </div>


    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>Our Mission</h3>
            </div>
            <div class="row services_circles">
                <div class="col-sm-4 description">
                    <div class="text active">
                        <h4>Plan what you need.</h4>
                        <p>
                            SolarMongo's mission is to produce a more efficient workflow for every solar business. We strive to help clients understand how mobile technologies will cut their costs and time involved in their business workflow. We are constantly implementing new features in our system to give business owners the tools they need anywhere and any time they are needed. SolarMongo is the means by which our clients will improve their business.</p>
                    </div>
                    <div class="text">
                        <h4>Develop your product or service.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to 
                            making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Design this theme to your needs.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                </div>

                <div class="col-sm-7 areas">
                    <div class="circle">
                        <img src="img/about.3.jpg">
                        <span>Mobile</span>
                    </div>
                    <div class="circle">
                        <img src="img/about.4.jpg">
                        <span>Cloud</span>
                    </div>
                    <div class="circle last_circle">
                        <img src="img/about.5.jpg">
                        <span>Secure</span>
                    </div>
                </div>
            </div>
        </div>
    </div>