extends ../layouts/default

block content
	.container
		.hero-unit
			h1 Api Implementation
			h3 Getting a token
			p
				| REQUEST TOKEN (POST) - requires: email, password - returns the token that is user specific. Will require email and password as parameters.
			p

			h3 Auth
			p
				| These are the Auth routes.  They will require email and password as parameters.
			p
				ul
					li
						| SIGN IN (GET): /api/signin - requires: email, password - returns user
					li
						| SIGN UP (POST): /api/signup - requires, email, password of new user - returns _id, message. Message will be "success" if true

			h3 Leads
			p
				| You will be using GET, POST, PUT, and DEL for your requests. All requests requires the following: access_token
				ul
					li
						| GET LEADS(GET): /api/leads - returns: user (that is logged in), firstName, lastName, .. etc 
					li
						| Underconstruction: CREATE LEAD(POST): /api/leads - requires at least: firstName, lastName - returns ??
					li
						| GET A LEAD(GET): /api/leads/:leadId - requires: leadId - returns a lead, user (that is logged in), firstName, lastName, .. etc 
					li
						| Undercontruction: UPDATE LEAD(PUT): /api/leads/:leadId - requires: leadId - updates a lead - returns ???
					li
						| Undercontruction: DELETE LEAD(DEL): /api/leads/:leadId - requires: leadId - updates a lead - returns ???
			p

		hr
		footer
			p &copy; SolarMongo 2014

	script(type="text/javascript").
		window.user = !{user};