extends ../layouts/default

block content
  .container
    .jumbotron
        h1 Request a product demo
        br
        p
          | We want to talk with you. Allow us to help streamline your sales and make your workflow easier and faster than ever.  Schedule a free product demo below!
        br
        .container
            .row.header.no-jumbotron
              .row.form-wrapper
                .col-md-12
                  form.form-horizontal(role='form',action="sendContactEmail",method="post")
                      .form-group
                        .col-md-2.control-label
                          label Name:
                        .col-md-5
                          input.form-control(type='text', name="firstName" data-ng-model='firstName', placeholder='First Name', maxlength='30')
                        .col-md-5
                          input.form-control.small-inline(type='text', name="lastName", data-ng-model='lastName', placeholder='Last Name', maxlength='30')
                      .form-group
                        label.col-md-2.control-label Company:
                        .col-md-10
                          input.form-control(type='text', name='companyName', data-ng-model='companyName', placeholder='Company Name')
                      .form-group
                        label.col-md-2.control-label Phone:
                        .col-md-10
                          input.form-control(type='text', name='phone', data-ng-model='phone', placeholder='Phone Number')
                      .form-group
                        label.col-md-2.control-label Email:
                        .col-md-10
                          input.form-control(type='text', name="email", data-ng-model='email', placeholder='example@example.com',required="required")
                      .form-group
                        label.col-md-2.control-label Inquiry:
                        .col-md-10
                          textarea.form-control(rows='5',type='text', name="inquiry",data-ng-model='inquiry', placeholder='Your inquiry here...', required="required")
                      .form-group
                        .col-md-12
                          button.btn.btn-success.pull-right(type="submit") Submit
                            
      hr
    footer
      p &copy; SolarMongo 2014
   script(type="text/javascript").
      window.user = !{user};