.container
    .hero-unit
        h1 Run your entire solar business from anywhere
        p
          | SolarMongo's mobile technologies give solar business owners and contractors the ability to have all their tools in their hands at all times.
        p
          a.btn.btn-primary.btn-large(href='#') Sign Up!
      .row
        .span4
          h2 Google Docs, gone!
          p
            | Don't get caught up in the details, let SolarMongo do that! Keep track of all your customer info online. Upload pictures, receipts, invoices, and keep track of Cad drawings all in one place in the cloud.
          p
            a.btn(href='#') View a demo »
        .span4
          h2 iPhone and ipad!
          p
            | Not only does our system have the web, you can now carry your ipad to customers and record data onsite!  Our site surveys are made to be mobile and customizable to your needs!
          p
            a.btn(href='#') Check out a mobile demo »
        .span4
          h2 Android
          p
            | Don't have an ios device? We have an android app ready to use.  Don't bring a pen and paper onsite! Use instead quotes and site surveys with our mobile android app!
          p
            a.btn(href='#') View product video »
      hr
    footer
      p &copy; SolarMongo 2014