.container
    .hero-unit
        h1 Welcome to Solar Mongo!
        p
          | We've met with real solar companies to be able to provide you with the modern cutting edge sofware for your solar business. Say goodbye to your notepad, and start using an online solution! Need help? Upon sign up, our technicians are available to give you free 1 on 1 coaching to get you and your company up to speed as fast as possible!
        p
          a.btn.btn-primary.btn-large(href='#') Schedule a personal conference now! »
      .row
        .span4
          h2 Google Docs, gone!
          p
            | Don't get caught up in the details, let SolarMongo do that! Keep track of all your customer info online. Upload pictures, receipts, invoices, and keep track of Cad drawings all in one place in the cloud.
          p
            a.btn(href='#') View a demo »
        .span4
          h2 iPhone and ipad!
          p
            | Not only does our system have the web, you can now carry your ipad to customers and record data onsite!  Our site surveys are made to be mobile and customizable to your needs!
          p
            a.btn(href='#') Check out a mobile demo »
        .span4
          h2 Android
          p
            | Don't have an ios device? We have an android app ready to use.  Don't bring a pen and paper onsite! Use instead quotes and site surveys with our mobile android app!
          p
            a.btn(href='#') View product video »
      hr
    footer
      p &copy; SolarMongo 2013