extends ../layouts/default

block content
	.container
		h1 Pricing
		.row
			.col-md-3
				.jumbotron
			
					h2 Bronze
					p
						| $300/month Up to 3 users. 
					p
			.col-md-3
				.jumbotron

					h2 Silver
					p
						| $500/month Up to 10 users
					p
			.col-md-3
				.jumbotron

					h2 Gold
					p
						| $1000/month Up to 20 users
					p
			.col-md-3
				.jumbotron

					h2 Platinum
					p
						| Give us a call. 20+ users
					p
			.col-md-12
				.jumbotron

					h2 Features
					p
						| • Lead Manager
					p
					p
						| • Site survey 
					p
					p
						| • Proposal. 
					p
					p
						| • Cost estimates 
					p
					p
						| • Solar Panel overlay technology 
					p
					p
						| • Proposal generations 
					p
					p
						| • Roof area estimator. 
					p
					p
						| • Cloud document storage. 
					p
		hr
		footer
			p &copy; SolarMongo 2014

	script(type="text/javascript").
		window.user = !{user};