<div id="in_pricing">
  <div class="container">
    <div class="head">
      <h1>Pricing</h1>
      <h6>After your trial ends, pick a plan that best fits your needs:</h6>
    </div>

<div id="in_pricing2">
<div class="container">
<div class="section_header">
</div>
<div class="row charts_wrapp">
<div class="col-sm-3">
<div class="plan">
<div class="wrapper">
<h3>Bronze</h3>
<div class="price">
<span class="dollar">$</span>
<span class="qty">300</span>
<span class="month">/month</span>
</div>
<div class="features">
<p>
<h4>
<strong>3</strong>
Users
</h4>
</p>
</div>
<a class="order" href="#">ORDER NOW</a>
</div>
</div>
</div>
<div class="col-sm-3 ultra">
<div class="plan">
<div class="wrapper">
<img class="ribbon" src="img/badge.png">
<h3>Silver</h3>
<div class="price">
<span class="dollar">$</span>
<span class="qty">500</span>
<span class="month">/month</span>
</div>
<div class="features">
<p>
<h4>
<strong>10</strong>
Users
</h4>
</p>
</div>
<a class="order" href="#">ORDER NOW</a>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="plan">
<div class="wrapper">
<h3>Gold</h3>
<div class="price">
<span class="dollar">$</span>
<span class="qty">1000</span>
<span class="month">/month</span>
</div>
<div class="features"> 
<p>
<h4>
  <strong>20</strong>
Users
</h4>
</p>
</div>
<a class="order" href="#">ORDER NOW</a>
</div>
</div>
</div>
<div class="col-sm-3 black">
<div class="plan">
<div class="wrapper">
<h3>Need more?</h3>
<h6>Let’s talk.</h6>
<p>If your needs are larger than any of our plans, let’s talk.</p>
<a class="order" href="#">GET IN TOUCH</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="head">

<h1>Features</h1>
<h6>All inlusive with each option.</h6>

</div>
 <div class="col-md-6">
      <div class="jumbotron">
        <p>• Lead Manager</p>
        <p></p>
        <p>• Site survey</p>
        <p></p>
        <p>• Proposal</p>
        <p></p>
        <p>• Cost estimates</p>
        <p></p>
      </div>
 </div>       
 <div class="col-md-6">
      <div class="jumbotron">   
        <p>• Solar Panel overlay technology </p>
        <p></p>
        <p>• Proposal generations </p>
        <p></p>
        <p>• Roof area estimator </p>
        <p></p>
        <p>• Cloud document storage </p>
        <p></p>
      </div>
    </div>
  </div>
<div id="faq">
<div class="container">
<div class="section_header">
<h3>Frequently asked questions</h3>
</div>
<div class="row">
<div class="col-sm-6 block">
<div class="box">
<p class="title">How long are your contracts?</p>
<p class="answ"> There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
</div>
<div class="box">
<p class="title">How do i sign up?</p>
<p class="answ"> There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
</div>
</div>
<div class="col-sm-6 block">
<div class="box">
<p class="title">What is meant by unlimited?</p>
<p class="answ"> There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
</div>
<div class="box">
<p class="title">Is there a discount for yearly service?</p>
<p class="answ"> There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
</div>
</div>
</div>
</div>
</div>



<!--<div class="container">
  <h1>Pricing</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="jumbotron">
        <h2>Bronze</h2>
        <p>$300/month Up to 3 users. </p>
        <p></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
        <h2>Silver</h2>
        <p>$500/month Up to 10 users</p>
        <p></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
        <h2>Gold</h2>
        <p>$1000/month Up to 20 users</p>
        <p></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
        <h2>Platinum</h2>
        <p>Give us a call. 20+ users</p>
        <p></p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>Features</h2>
        <p>• Lead Manager</p>
        <p></p>
        <p>• Site survey </p>
        <p></p>
        <p>• Proposal. </p>
        <p></p>
        <p>• Cost estimates </p>
        <p></p>
        <p>• Solar Panel overlay technology </p>
        <p></p>
        <p>• Proposal generations </p>
        <p></p>
        <p>• Roof area estimator. </p>
        <p></p>
        <p>• Cloud document storage. </p>
        <p></p>
      </div>
    </div>
  </div>
  <hr />
  <div class="footer">
    <p>&copy; SolarMongo 2014</p>
  </div>
</div>   --> 