<div id="in_pricing2">
  <div class="container">
    <div class="section_header">
  </div>
  <div class="row charts_wrapp">
    <div class="col-sm-12">
      <div class="plan">
        <div class="wrapper contactdemo">
          <h3>Privacy Policy</h3>
          <br />
        <div class="features">
          <p>
<p></p>
</div>
<br />
<br />
<div id="contactrow" class="row form-wrapper">
        <div class="col-md-12">
          <h4>
            Our privacy policy
      </h4>
          Use of the Services allows us to gather information from and about you. This section explains how we treat “Personal Information” (information about you that is personally identifiable, like your name, address, email address, phone number and age, that may or may not otherwise be publicly available) that we collect when you (i) visit the Site; (ii) complete the account registration process via the Site, (iii) use the Dashboard and/or Applications, or (iv) use any of the Services we offer. 
a. General. We collect anonymous and Personal Information about you to provide you the most relevant information, products, programs and services that you request; to constantly improve the features, offerings and content that we provide through the Site, the Applications, and/or the Dashboard; to personalize the content and advertisements provided to you; to determine how you use and respond to the features, offerings and advertisements on the Site, the Applications, and/or the Dashboard; and to help offer you other products, programs or services that may interest you. 
b. Sharing with Third Parties. We do not share or distribute any of your Personal Information with Third Parties, except those required to provide the Services, such as with our merchant partner to process your monthly payment, our hosting partner which stores your information, and the like. 
c. Anonymous Information. Even if you do not provide us with any of your Personal Information, we may automatically track and collect other information when you visit the Site or use our Services, including without limitation the following: (i) IP address; (ii) domain server; (iii) type of computer; (iv) type of web browser; (v) any information made available when accessing the Site, the Applications, and/or the Dashboard; and (vi) any other information that your browser sends when you visit a website. We may also collect information about the websites that directed you to the Site after you clicked on a text or banner link from another website, or the day and time you visited the Site and/or Dashboard and how long you spent on the Site and/or Dashboard. We aggregate such information to help us compile reports as to trends and other behavior about users visiting and using the Site, the Applications, and/or the Dashboard; however such 
information is anonymous and cannot be tied directly to you. 
d. Cookies. We may also use “cookies” and your Personal Information to enhance your experience on the Site, the Applications, and/or the Dashboard and to provide you with personalized offers. A cookie is a small data file placed on your device’s hard drive that contains information that allows us to track your activity on the Site, the Applications, and/or the Dashboard. The cookie itself does not contain any Personal Information; however, if you provide any Personal Information to us, the cookie may act as an identifier to tie your Personal Information to your IP address or device. You may choose to delete cookies from your device’s hard drive at any time or to disable cookies on your device. If you delete cookies that relate to the Site, the Applications, and/or the Dashboard, we may not be able to identify you upon 
your return to the Site, the Applications, and/or the Dashboard. Additionally, if you disable your device’s cookies, you may not be able to access certain features of the Services that require that cookies be enabled. The cookies cannot be used to read data from your hard drive and cannot retrieve information from any other cookies created by other websites. Additionally, our cookies cannot be used as a virus, Trojan horse, worm or any other malicious tool that could impair your use of your device. Our cookies are used to help us better understand how you and other users use the Services so we can continue to provide a better, more personalized user experience on the Site, the Applications, and/or the Dashboard. 
        </div>
</div>
</div>
</div>
  <div class="footer">
    
  </div>
</div>
</div>
</div>

  
