<div id="in_pricing2">
  <div class="container">
    <div class="section_header">
  </div>
  <div class="row charts_wrapp">
    <div class="col-sm-12">
      <div class="plan">
        <div class="wrapper contactdemo">
          <h3>Privacy Policy</h3>
          <br />
        <div class="features">
          <p>
         <h4>
            Our privacy policy
      </h4>
<p></p>
</div>
<br />
<br />
<div id="contactrow" class="row form-wrapper">
        <div class="col-md-12">
        </div>
</div>
</div>
</div>
  <div class="footer">
    
  </div>
</div>
</div>
</div>

  
