extends ../layouts/default

block content
    .container
        .jumbotron
            h1 Thankyou!
            br
            p
                | Thank you for contacting us. Your input is important! Expect a response within 24 hours.
        hr
        footer
            p &copy; SolarMongo 2014
