<div id="pad-wrapper" class="new-user" data-ng-controller="LeadsController" data-ng-init="findOne()">
    <div class="row-fluid header">
        <div class="row-fluid form-wrapper">
            <div class="span9 with-sidebar">
                <form class="new_user_form" data-ng-submit="update()">
                    <div class="span12 field-box">
                        <label>Name:</label>
                        <input type="text" data-ng-model="lead.firstName" placeholder="First Name" class="span12 small-inline" maxlength="30" required>
                        <input type="text" data-ng-model="lead.lastName" placeholder="Last Name" class="span12 small-inline last" maxlength="30" required>
                    </div>
                    <div class="span12 field-box">
                        <label>Company:</label>
                        <input class="span9" type="text" name="companyName" data-ng-model="lead.companyName"/>
                    </div>
                    <div class="span12 field-box">
                        <label>Title:</label>
                        <input class="span9" type="text" name="title" placeholder="Professional career" data-ng-model="lead.title"/>
                    </div>
                    <div class="span12 field-box">
                        <label>Email:</label>
                        <input type="text" class="span9" data-ng-model="lead.email" placeholder="example@example.com">
                    </div>
                     <div class="span12 field-box">
                        <label>Phone:</label>
                        <input type="text" data-ng-model="lead.phoneWork" placeholder="Work Phone" class="span12 small-inline" maxlength="30">
                        <input type="text" data-ng-model="lead.phoneMobile" placeholder="Mobile Phone" class="span12 small-inline last" maxlength="30">
                    </div>
                    <div class="span12 field-box">
                        <label>Address:</label>
                        <div class="address-fields">
                            <input type="text" placeholder="Street address" class="span12" data-ng-model="address">
                            <input type="text" placeholder="City" class="span12 small" data-ng-model="city">
                            <div id="state" class="ui-select small">
                                <select>
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                    <option value="AZ">Arizona</option>
                                </select>
                            </div>
                            <input type="text" data-ng-model="lead.zip" placeholder="Postal Code" class="span12 small last">
                        </div>
                    </div>
                    <div class="span12 field-box textarea">
                        <label>Notes:</label>
                        <textarea class="span9" data-ng-model="lead.notes"></textarea>
                        <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
                    </div>
                    <div class="span11 field-box actions">
                        <input type="submit" value="Update user" class="btn-glow primary">
                        <span>OR</span>
                        <input type="reset" class="reset" value="Cancel" onclick="window.history.back()">
                    </div>
                </form>
            </div>
            <div class="span3 form-sidebar pull-right">
                <div class="btn-group toggle-inputs hidden-tablet">
                    <button class="glow left" data-input="inline">Tags</button>
                    <button class="glow right active" data-input="normal">More Tags</button>
                </div>
                <div class="alert alert-info hidden-tablet">
                    <i class="icon-lightbulb pull-left"></i>
                    Click above to see difference between inline and normal inputs on a form
                </div>                        
                <h6>Sidebar text for instructions</h6>
                <p>Add multiple users at once</p>
                <p>Choose one of the following file types:</p>
                <ul>
                    <li><a href="#">Upload a vCard file</a></li>
                    <li><a href="#">Import from a CSV file</a></li>
                    <li><a href="#">Import from an Excel file</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>