<div id="pad-wrapper" class="table-products" data-ng-controller="LeadsController" data-ng-init="find()">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Leads</h4>
            </div>
        </div>
        <div class="row filter-block">
            <div class="pull-left span6 offset3">
                <!--<div class="ui-select">
                    <select>
                      <option>Filter by Name</option>
                      <option>Signed last 30 days</option>
                      <option>Filter by New Leads</option>
                    </select>
                </div>-->
                <input type="text" class="search" ng-model="query">
                <a href="#!/leads/create" class="btn-flat new-product">+ Lead</a>
            </div>
        </div>
        <div class="row ">
            <table class="table table-hover">
                <thead>
	                <tr>
	                	<td>Name</td>
	                	<td>Company Name</td>
	                	<td>Title</td>
	                	<td>Phone</td>
	                	<td>Address</td>
	                </tr>
	            </thead>
                <tr data-ng-repeat="lead in leads | filter:query">
                    <td>
                        <input type="checkbox">
                        <!--<i class="icon-list-table icon-book"></i>-->
                        <!--<div class="img">
                            <img src="img/table-img.png">
                        </div>-->
                        <a href="#!/leads/{{lead._id}}" class="name">{{lead.firstName}} {{lead.lastName}}</a>
                    </td>
                    
                    <td>
                        <!--<a href="#!/leads/{{lead._id}}" class="description">-->{{lead.phoneMobile | placeholder}}
                    </td>
                    <td>
                        {{lead.address | placeholder}}, {{lead.city | placeholder}}, {{lead.state | placeholder}} {{lead.zip | placeholder}}
                    </td>
                    <td>
                        {{lead.country | placeholder}}
                    </td>
                    <td>
                        <span class="label label-success">New</span>
                        <ul class="actions">
                            <li><a href="/#!/leads/{{lead._id}}/edit"><i class="table-edit"></i></a></li>
                            <li class="last"><i class="table-delete" data-ng-click="remove(lead);"></i></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>