body{
	 font-family: 'Lato',sans-serif !important;
	padding-top: 60px;
  	padding-bottom: 0px;
  	background: url(/img/diamond.png);
}

.no-jumbotron{
    color: inherit;
    font-size: 14px;
    font-weight: normal ;
    line-height: inherit;
}

.container .footer{
	color:grey;
	margin-left:20px;
}
.no-bullet{
	list-style:none;
}
.no-bullet li{
	list-style:none;	
}
#in_pricing .head {
	margin-bottom: 70px;
	text-align: center;
}
`