body{
	 font-family: 'Lato',sans-serif !important;
	padding-top: 60px;
  	padding-bottom: 0px;
  	background: url(/img/diamond.png);
}

.feature {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    cursor: pointer;
    padding: 40px 0 38px;
    margin-top: 40px;
}
.feature h2 {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0;
}
.no-jumbotron{
    color: inherit;
    font-size: 14px;
    font-weight: normal ;
    line-height: inherit;
}

.container .footer{
	color:grey;
	margin-left:20px;
}
.no-bullet{
	list-style:none;
}
.no-bullet li{
	list-style:none;	
}
#in_pricing .head {
	margin-bottom: 70px;
	text-align: center;
} 
.card-p{
	text-align:center;
	padding-left:15px;
	padding-right:15px;
}
.feature2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    cursor: pointer;
    padding: 40px;
    margin-top: 30px;
}
.feature3 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    padding: 40px;
    margin-top: 40px;
    vertical-align: top;
}
.custombutton {
    margin-bottom: 23px;
}
.feature3 h1 {
    margin-top: 0px;
    padding-top: 0px;
}
.feature3 h2 {
    text-align:center;
    margin: 0 0 25px 0;
}
.box {
     border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    cursor: pointer;
    padding: 40px;
    margin-top: 30px;
}
.row {
    padding-top:14px;
}
.row-submit {
    float:right;
}

#contactrow{
    padding-left:35px;
    padding-right:35px;
}


