.carousel{
	height:300px;
	border-radius: 10px;
}
#slider_container{
	height:380px;
	background-color:#FFFFFF;
	padding:0;
}
.carousel-control.left{
	background-image:none;
}

.carousel-control.right{
	background-image:none;
}