.users-list .header h3 {
  margin-top: 0px;
}
.users-list .header input.search {
  padding: 5px 6px;
  position: relative;
  top: 0px;
  margin-left: 120px;
}
.users-list .header input.search:focus {
  box-shadow: none;
  border: 1px solid #888;
}
.users-list .header .ui-select {
  margin: 3px 40px 0 0;
}
.users-list .header .ui-dropdown {
  margin-left: 20px;
}
.users-list .header .ui-dropdown input.form-control {
  width: 60px;
  display: inline-block;
  height: 28px;
  margin: 0px 8px;
}
.users-list .header a.btn-flat span {
  font-size: 17px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
.users-list .table td {
  vertical-align: middle;
  font-size: 13px;
  padding-top:20px;
  padding-bottom:20px;
}
.users-list .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  position: relative;
  top: 8px;
}
.users-list .table a.name {
  color: #3389d1;
  display: block;
  font-weight: 600;
  font-size: 14px;
}
.users-list .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0;
  margin-left:40px;
}
.users-list .pagination {
  margin-top: 25px;
}

.users-list .table a.name:hover{
  text-decoration: underline;
}
.users-list .table a.name:hover i{
  text-decoration: none;
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}


.users-list .table ul.actions {
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}
.users-list .table ul.actions li {
  display: inline;
  padding: 5px 6px 0px 3px;
}
.users-list .table ul.actions li.last {
  border: 0 none;
}
.users-list .table ul.actions i {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
}
.users-list .table ul.actions i:hover {
  opacity: 1;
}

.users-list i.table-icon:hover{
  text-decoration: none;
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.users-list i.table-icon{
  font-size: 30px;
  top: 5px;
  height: 24px;
  left: 0;
  opacity: 0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  position: relative;
  transition: opacity 0.1s ease 0s;
  width: 40px;
  display:inline-block;
}


/* responsive */
@media (max-width: 767px) {
  .ui-dropdown .dialog .body {
    width: 250px;
    left: 58%;
    position: relative;
  }

  .users-list .table a.name {
    font-size: 12px;
  }
  .users-list .table td {
    font-size: 12px;
  }
  .users-list .table .avatar {
    display: none;
  }
  .users-list h3 {
    display: block;
    float: none;
    margin-bottom: 30px;
  }
  .users-list .header input.search {
    margin-bottom: 18px;
  }
  .users-list .header .ui-dropdown {
    float: left;
    margin-left: 0;
  }

  .ui-dropdown .dialog .body .form input[type="text"] {
    margin-top: 10px;
  }

  .ui-dropdown .dialog .body .form a {
    margin-top: 10px;
    margin-left: 18px;
  }
  .users-list .header input.search{
    margin-left:0;
  }
}
/* responsive */
@media (max-width: 1200px) {
  .users-list .header input.search{
    margin-left:50px;
  }
}

@media (max-width: 900px) {
  .users-list .header input.search{
    margin-left:20px;
  }
}

