<div class="leads">
    <div class="row header">
        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form class="form-horizontal" role="form" data-ng-submit="update()">
                    <br>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>User Information</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">Name:</label>  
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="name" data-ng-model="user.name" placeholder="First Name" maxlength="30" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">Email:</label>
                        <div class="col-md-7">
                            <label class="control-label">{{user.email}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1_5 control-label">New Password:</label>
                        <div class="col-md-7">
                            <input class="form-control" type="password" name="newpassword" data-ng-model="newpassword" placeholder="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1_5 control-label">
                          <label>User Role:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="select-style ui-select col-md-5">
                                <select name="role" data-ng-model="user.role" required>
                                    <option value="Admin">Administrator</option> 
                                    <option value="Installer">Installer</option>
                                    <option value="SalesRep">Sales Representative</option>
                                    <option value="LeadsAgency">Leads Agency</option>
                                    <option value="SalesAgency">Sales Agency</option>
                                </select>
                            </div>
                        </div> 
                    </div>                   
                    <div class="col-md-11 field-box actions">
                        <input type="submit" value="Save User" class="btn-glow primary">
                        <span>OR</span>
                        <input type="reset" class="reset" value="Cancel" onclick="window.history.back()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>