<div id="pad-wrapper" class="users-list" data-ng-controller="UsersController" data-ng-init="find()">
    <div class="row header">
        <h3>Users</h3>
        <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
            <input class="col-md-4 search" data-ng-model="query" type="text" placeholder="Type a lead's name...">
            
            <!-- custom popup filter -->
            <!-- styles are located in css/elements.css -->
            <!-- script that enables this dropdown is located in js/theme.js -->
            <div class="ui-dropdown">
                <div data-original-title="Click me!" class="head" data-toggle="tooltip" title="">
                    Filter users
                    <i class="arrow-down"></i>
                </div>  
                <div style="display: none;" class="dialog">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <div class="body">
                        <p class="title">
                            Show users where:
                        </p>
                        <div class="form">
                            <select>
                                <option>Name</option>
                                <option>Email</option>
                                <option>Number of orders</option>
                                <option>Signed up</option>
                                <option>Last seen</option>
                            </select>
                            <select>
                                <option>is equal to</option>
                                <option>is not equal to</option>
                                <option>is greater than</option>
                                <option>starts with</option>
                                <option>contains</option>
                            </select>
                            <input class="form-control" type="text">
                            <a class="btn-flat small">Add filter</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#!/settings/users/create" class="btn btn-success pull-right">
                <span>+</span>
                User
            </a>
        </div>
    </div>
    <!-- Users table -->
    <div class="row col-md-12">
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th class="span4 sortable">
                        Name
                    </th>
                    <th class="span2 sortable">
                        <span class="line"></span>Email
                    </th>
                    <th class="span3 sortable align-right">
                        <span class="line"></span>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
            <!-- row -->
            <tr data-ng-repeat="user in users | filter:query" ng-class="{first: $first}">
                <td>
                    <!--<img src="img/contact-img.png" class="img-circle avatar hidden-phone">-->
                    <a href="#!/settings/users/{{user._id}}" class="name"><i class="icon-user table-icon"></i>{{user.name}}</a>
                    <span class="subtext">{{user.role}}</span>
                </td>
                <td>
                    {{user.email}}
                </td>
                <td class="align-right">
                    <ul class="actions">

                        <li class="last" data-ng-if="global.user._id != user._id"><i class="table-delete" data-ng-click="remove(user);"></i></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
        </ul>
    <!-- end users table -->
    <!-- end side-bar with span9 -->
    <!--<div class="span3 form-sidebar pull-left">
            <div class="btn-group toggle-inputs hidden-tablet">
                <button class="glow left" data-input="inline">Tags</button>
                <button class="glow right active" data-input="normal">More Tags</button>
            </div>
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                Click above to see difference between inline and normal inputs on a form
            </div>                        
            <h6>Sidebar text for instructions</h6>
            <p>Add multiple users at once</p>
            <p>Choose one of the following file types:</p>
            <ul>
                <li><a href="#">Upload a vCard file</a></li>
                <li><a href="#">Import from a CSV file</a></li>
                <li><a href="#">Import from an Excel file</a></li>
            </ul>
        </div>
    </div>-->
</div>