<div id="pad-wrapper" class="user-profile" data-ng-controller="TabController">
    <!-- header -->
    <div class="row header">
        <div class="col-md-8">
            <!--<img src="img/contact-profile.png" class="avatar img-circle">-->
            <h1 class="main-title"><i class="icon-cog table-icon"></i><span>Company Settings</span></h1>
        </div>
    </div>
    <tabset>
        <tab heading="Branding" >
            <div data-ng-include="'views/settings/branding.html'"></div>
        </tab>
        <tab heading="Users" >
            <div data-ng-include="'views/settings/listUsers.html'"></div>
        </tab>
    </tabset>
</div>