<div class="adM">


</div><div style="background:#f2f3f3;color:#6b6b6b;line-height:120%;font-family:Georgia"><div class="adM">
  </div><div style="margin:auto;width:696px"><div class="adM">
    </div><div style="text-align:center;color:ADAFAC;font-style:oblique;text-align:center;font-size:x-small;vertical-align:middle;padding-right:15px">
      Having trouble viewing this email? <a href="https://uf168.infusionsoft.com/app/linkClick/109/2d772f77ad17b079/4893/89e70b8e9614814c" shape="rect" style="color:#e64f4f" target="_blank">Click here</a>
</div>
    <div>
      <a href="https://uf168.infusionsoft.com/app/linkClick/327/d83d25978364847c/4893/89e70b8e9614814c" target="_blank">
        <img alt="atly" src="https://ci6.googleusercontent.com/proxy/LMGpqq8IFZL20a0MDJdQ572ply-uIe0mdv3LsW9CDjTB5ir6kyau_QWbcOXRsuqyxhpIHOvwQzXM1t2NmvBz-5oK8sBq-KwpbyExpMkE3tOTpDV41gudXyOw6USBll01Eh_sXZUnZgam=s0-d-e1-ft#https://d1yoaun8syyxxt.cloudfront.net/uf168-234edea9-44a7-4410-aa7c-e50156caf4cd-v2" style="background:none;border:none;line-height:normal;margin-left:0px;margin-right:0px;margin:0;padding-left:8px;vertical-align:bottom;white-space:normal" title="atly" align="bottom" border="0">
      </a>
</div>
    <div style="background:#ffffff;padding:8px;margin:10px 0">
      <img alt="Banner" src="https://ci5.googleusercontent.com/proxy/7sRCRILYfiky-nJ0Zi3S4CWeSGGZiS9V5af4AlZcWU235eO8NLpIDi4Uxzn2sQL8ENjs3BZIr4REdAMNNRYh0kQd7GdCxk5Y48s6Gh1ihmwTUZSHt0tra_KgTtbWb5R6ZjkMn5ybUVpM=s0-d-e1-ft#https://d1yoaun8syyxxt.cloudfront.net/uf168-d0ee9f4b-1d41-48e2-912d-bb1728e92726-v2" style="background:none;border:none;line-height:normal;margin-left:0px;margin-right:0px;margin:0;padding:0;vertical-align:bottom;white-space:normal" title="Banner" align="bottom" border="0">
<table style="padding:1em 2.5em;line-height:1.75em">
<tbody>
<tr>
<td style="vertical-align:top;padding-right:1.25em;border-right:1px solid #f2f3f2">
              <div>
                <u></u>
                  Hi, Sean
                <u></u>
                <p>
                  Numbers aren't everything, but 1,000 new Facebook friends is
                  looking pretty good on us. We can't contain our excitement
                  about it. Wish we
                  could give all of you, our newest friends, an iPad mini to
                  show our big love
                  for you.
</p>
                <p>
                  We'll draw the winner today at 2pm MST and announce
                  shortly after. Take a look at the nice package one lucky
                  winner will get.  
</p>
                <p>
                  <a href="https://uf168.infusionsoft.com/app/linkClick/475/677997f76a14f3b3/4893/89e70b8e9614814c" target="_blank">What does this smart Clyde bag and an iPad mini have in
                    common? Click to see.</a> 
</p>
                <p>
</p>
                <p>
                  With thanks,
</p>
                ~the <span class="il">atly</span> team
</div>
</td><td style="color:ADAFAC;width:25%;padding-left:1.25em;vertical-align:top">
            <div>
              <p style="font-style:oblique;font-size:larger">
                “<span class="il">atly</span> has an abundance of valuable courses from a variety
                of subjects. And they all fit my odd schedule perfectly!”
</p>
              <p style="font-style:oblique;font-size:smaller">
                –Steve Smith
                <br>
                Orlando, FL
</p>
</div>
            <div style="border-bottom:1px solid #f2f3f2;min-height:1px;padding-top:10px">
              &nbsp;
</div>
            <h4 style="color:#036c9c;font-family:arial;font-weight:normal;margin-bottom:0.5em;text-align:center">
              Featured Class
</h4>
            <div style="font-size:10px;line-height:1.75em">
              <div style="border:1px solid #f2f3f2;padding:3px;color:#6b6b6b;text-align:center">
                <a href="https://uf168.infusionsoft.com/app/linkClick/351/6d50e3c6414883c4/4893/89e70b8e9614814c" target="_blank"><img alt=" atly featured Class" src="https://ci6.googleusercontent.com/proxy/clmcd4btqsr_dBwtYh75cBUzvimMCFiTLACCkIEyOug-qkcjOzt4p_OJ9y4TF4T4KLmEJsQuuZLbd9ztZY0Y4NNW-Her5GDDcShmIzLcrZW4XnFjeGo194rAssfHGx5JrF6ij4QlnNBR=s0-d-e1-ft#https://d1yoaun8syyxxt.cloudfront.net/uf168-cac0058c-0011-486c-9785-8a188a47aea4-v2" style="width:100%;background:none;border:none;line-height:normal;margin-left:0px;margin-right:0px;margin:0;padding:0;vertical-align:bottom;white-space:normal" title="atly featured Class" align="bottom" border="0"></a>
                <div style="padding:7px 0 7px 0;font-family:arial;line-height:1em">
                  Better Writing in 6 Steps
</div>
</div>
              <p>
                With six specific tutorials that transcend grammar, you   ll
                learn to produce concise, enjoyable prose.
</p>
</div>
</td>
</tr>
</tbody>
</table>
</div>
    <div style="display:inline-block;width:100%;text-align:center">
      <a href="https://uf168.infusionsoft.com/app/linkClick/337/baed86604e73c0c9/4893/89e70b8e9614814c" style="color:rgb(6,69,173)" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/cIDJ-CaCLAw_DxT2L9jbiQUGY7nilKbFN-2rvdrjGSk7Nbjw1UgF1wGoNd65buFSOTgVwjZDSrBchK6kMVf2TVF346j7r55qCv6erqRYlaNvw8kP7g=s0-d-e1-ft#https://uf168.infusionsoft.com/slices/social-media/facebook.png" style="background:none;border:none;line-height:normal;margin:0;padding:0;white-space:normal;text-align:center" border="0"></a>
      <a href="https://uf168.infusionsoft.com/app/linkClick/339/74240229f2d55042/4893/89e70b8e9614814c" style="color:rgb(6,69,173)" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/SGaA-R0g6WQT2qkSB-0DjKYtXkOkoNjD2IxGnj3yr4lUSypjCKwFTMnaMOBoNM6sRvwo9Fjs7g4JL8zFrcqm7QRo0uuLIjqAtnlN--q0yBWUtBh6=s0-d-e1-ft#https://uf168.infusionsoft.com/slices/social-media/twitter.png" style="background:none;border:none;line-height:normal;margin:0;padding:0;white-space:normal" border="0"></a>
      <a href="https://uf168.infusionsoft.com/app/linkClick/341/db48a8a756c9f246/4893/89e70b8e9614814c" style="color:rgb(6,69,173);text-align:center" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/3368F8Wp00cpJL-ew0RdqtPbYUH_G3can6oZEXJjie_kYpVCnd-ayfVcIBiwjKe40Bt3h-iPsK6hOlXu5A0ePVJCI3W7uhF4-CC1W_zCD9hj=s0-d-e1-ft#https://uf168.infusionsoft.com/slices/social-media/blog.png" style="background:none;border:none;line-height:normal;margin:0;padding:0;white-space:normal" border="0"></a>
</div>
    <div style="color:ADAFAC;font-style:oblique;text-align:center;font-size:smaller;vertical-align:middle;padding-right:15px">
      <span class="il">atly</span> 2230 N. University PKWY Ste. 11G Provo, Utah 84604 United States <a href="tel:%28801%29%20691-7002" value="+18016917002" target="_blank">(801) 691-7002</a>
</div>
    <div style="color:ADAFAC;font-style:oblique;text-align:center;font-size:smaller;vertical-align:middle;padding-right:15px">
      If you no longer wish to receive our emails, click the link below:
      <a href="https://uf168.infusionsoft.com/app/linkClick/107/a70d558a06f776fb/4893/89e70b8e9614814c" shape="rect" style="font-size:11px;font-family:arial;color:#e64f4f" target="_blank">Unsubscribe</a><br clear="none">
</div>
    <div style="color:ADAFAC;font-style:oblique;text-align:center;font-size:smaller;vertical-align:middle;padding-right:15px">
      Copyright 2013 all rights reserved <a href="https://uf168.infusionsoft.com/app/linkClick/329/51b8497681bf750c/4893/89e70b8e9614814c" target="_blank">
      <img alt="Interesting Image" src="https://ci5.googleusercontent.com/proxy/n0LGi59fbEDcn9SsaPzDzHOQmdoNefMuawQ8qZlei8fpMkJdec7TvAsNgDmo86C7qBmFyCrUoq3XUYCOdsaxgKBEoWW9_Nm-eaOA-ebp76ZozTkmrKDTg6OUdAtnafzuQMRzxe4-4pdN=s0-d-e1-ft#https://d1yoaun8syyxxt.cloudfront.net/uf168-f4cbc3ae-d594-4ce6-b1bc-37c591b50b6b-v2" style="min-height:3em;padding-left:1em;vertical-align:middle;border:none;margin:0" title="Interesting Image" align="bottom" border="0"></a>
</div>
</div>
<img style="display:block" src="https://ci5.googleusercontent.com/proxy/8fso3MlkSQ85Cd4utFVfIGnNWVpoksaStuKXnKNMWmYL1lFfUjuL4hb1l15Vdagc4EamM3955DxrWKFkiPz3jOowU_V0xmpP5nsWFA=s0-d-e1-ft#https://uf168.infusionsoft.com/app/emailOpened/4893/31" height="1" width="1"><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div>