<html>
<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=320, target-densitydpi=device-dpi" name="viewport">
</head>
<body style="background-color: #ECECEC;
    margin: 0;
    padding: 0;">

<div style="background-color:#EEE">
    <div id="container" style="margin:auto; background-color:#FFF; max-width:600px; margin-top:30px;">
        <div style="padding-bottom:1px; margin-top:10px; border-radius:6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius:6px 6px 0px 0px; -webkit-font-smoothing: antialiased; background-color:#53AF75;">
            <p style="text-align:left; width: 100%; text-align: center;">
                <strong>
                    <img height="100" width="140" style="display:inline-block; vertical-align:top; margin-left:-20px; margin-right: 40px;" src="https://s3.amazonaws.com/solarmongo/public/img/SolarMongoLogo.png">
                    <a style="margin-top:35px; display:inline-block;color: #FFFFFF;text-decoration: none; font-size:36px" href="http://www.solarmongo.com">
                        <span label="Title" class="cm-singleline" style="font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;">#{Company}</span>
                    </a>
                </strong>
            </p>
        </div>
        <div class="content_conatiner" style="padding:20px; text-align:center; margin:auto;">
            <p align="left" style="color: #425470;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0;">Streamline Your Solar Sales Proccess</p>
            <div align="left" style="font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">
                <p>Streamline your sales with the All-In-One Web and Mobile solution for solar companies.  Manage your solar business from anywhere with our mobile cloud solution. <a href="http://www.solarmongo.com/contact" class="showButton" style="color:white;background-color: #2190DB;
        border-radius: 5px;
        color: #FFFFFF;
        display: block;
        font-size: 13px;
        font-weight: bold;
        margin: 25px auto 0;
        padding: 3px 0;
        text-align: center;
        transition: all 0.2s linear 0s;
        width: 48%;">Get A Demo!</a></p>
            </div>
            <p align="left" style="color: #425470;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0;">Our Lead Dashboard</p>
            <div align="center" style="font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">
                <img border="0" src="http://www.solarmongo.com/img/macbook.png" >
            </div>
            <div align="left" style="font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">
                <p>CRM (Customer Relationship Management)</p>
                <p>Automated Control</p>
                <p>Iphone and Ipad mobile Apps.</p>
            </div>
            <p align="left" style="color: #425470;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0;">Our Mobile App</p>
            <div align="left" style="font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;display:inline-block; vertical-align:top; width:49%; display:inline-block;">
                <p>Generate quotes and site survey's with our mobile apps</p>
                <p>Ditch the confusing spreadsheets. Explaining and generating quotes for your potential customers has never been easier.  With our mobile apps and mobile web technologies, sales and installation in solar has never been more paperless and automated.</p>
            </div>
            <div align="center" class="article-content" style="width: 49%; display:inline-block;">
                <img width="300" border="0" editable="true" label="Image" src="http://www.solarmongo.com/img/ipad_dialog.jpg" class="w300">
            </div>
            
        </div>
                     
                            
                                
    <div style="height:70px; padding-bottom:10px; margin-bottom:30px; border-radius:0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius:0px 0px 6px 6px; -webkit-font-smoothing: antialiased; background-color:#53AF75;">
        <p align="center" style="top:30px; position:relative; margin:30px auto 0 auto; vertical-align:middle;">
            <br />
            <br />
            <a style="position: relative; top: 30px; text-align:center; color: #D9FFFD;font-weight: bold;
text-decoration: none;" href="http://www.solarmongo.com">SolarMongo.com</a>
        </p>
    </div>
    <!--<p align="left" class="footer-content-left"><a lang="en" class="cm-preferences" href="#">Edit your subscription</a> | <a class="cm-unsubscribe" href="#">Unsubscribe</a></p>-->
</body>
</html>