doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
	if (isLoggedIn)
		include ./includes/head
		body
			div(data-ng-app="mean")
				navigation-list
				div.content
					div.skins-nav
						a.skin.first_nav.selected(href="#")
							span.icon
								span.text Default skin
						a.skin.second_nav(href="#", data-file="css/compiled/skins/dark.css")
							span.icon
								span.text Dark skin
					div.view-container
						div.container-fluid(data-ng-view)
			include ./includes/foot
	else	
		include ./includes/headFrontEnd
		body
			div(data-ng-app="solarmongo")
				navigation-list
				div.view-container
					div.container-fluid(data-ng-view)
			include ./includes/footFrontEnd

	script(type="text/javascript").
		window.user = !{user};
	