<div class="container">
  <div data-ng-controller="sliderController" class="slidercontainer feature2">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <div ng-include="slide.path"></div>
        <!--img(ng-src='{{slide.image}}', style='margin: auto;')-->
        <div class="carousel-caption">
          <!--h4 Slide {{$index}}-->
          <!--p {{slide.text}}-->
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row contact">
              

  <form>
      <div class="row form">
          <div class="col-sm-6 row-col">
              <div class="box">
                  <input type="text" placeholder="Name" class="name form-control">
                  <input type="text" placeholder="Company" class="company form-control">
                  <input type="text" placeholder="Email" class="mail form-control">
                  <input type="text" placeholder="Phone" class="phone form-control">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box">
                  <textarea class="form-control" placeholder="Type a message here..."></textarea>
              </div>
          </div>
      </div>

      <div class="row submit">
          <div class="col-md-3 right">
              <input type="submit" value="Send your message">
          </div>
      </div>
  </form>
</div>
  <div class="row">
    <div class="col-md-4">
      <div class="feature">
        <h2>Efficient + Automated</h2>

          <p class="card-p">Reduce your cycle time by at least 30% as well as operational costs through our automated system for tracking paperwork electronically. </p>
          <p class="card-p"><a href="#" class="btn">View a demo »</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="feature">
      <h2>Quotes + Estimates</h2>
      <p class="card-p">Ditch the confusing spreadsheets. Explaining and generating quotes for your potential customers has never been easier.</p>
      <p class="card-p"><a href="#" class="btn">Check out a mobile demo »</a></p>
    </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
      <h2>Paperless + Mobility</h2>
      <p class="card-p">With our mobile apps and mobile web technologies, sales and installation in solar has never been more paperless and automated.</p>
      <p class="card-p"><a href="#" class="btn">View product video »</a></p>
    </div>
    </div>
  </div>
</div>